body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
}

a {
    color:steelblue;
    transition: color 0.5s;
}

a:hover {
    color:white;
    background-color:steelblue;
}

button {
    display: inline-block;
    margin: 5px;
    padding: 5px 25px;
    font-size: 100%;
    color: white;
    background-color:royalblue;
    border: 0;
    border-radius: 5px;
}

button:hover {
    background-color:steelblue;
}

.hide {
    display: none;
}

.score {
    position: absolute;
    top: 20px;
    left: 20px;
}

.timer {
    position: absolute;
    top: 20px;
    right: 20px;
}

.wrapper {
    margin: 100px auto 20px auto;
    max-width: 680px;
    text-align: center;
}

.start {
    text-align: center;
}